# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

!web/app/plugins/revslider
!web/app/plugins/js_composer
!web/app/plugins/envato-market
!web/app/plugins/qode-instagram-widget
!web/app/plugins/qode-news
!web/app/plugins/qode-twitter-feed
!web/app/plugins/event-list

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

config/secrets.yml